In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sympy.core.multidimensional import structure_copy
from ydata_profiling import ProfileReport

# Set color palette
sns.set_palette("Set2")

#ignore warning
import warnings
warnings.filterwarnings("ignore")


data = pd.read_csv('data/GlobalWeatherRepository.csv')
data.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [2]:
# Summary Statistics
data.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,47552.000000,47552.000000,4.755200e+04,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,...,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000,47552.000000
mean,19.142719,22.208518,1.726444e+09,23.192991,73.748797,8.298370,13.358912,171.215953,1013.667459,29.932993,...,19.323696,513.077997,62.795489,13.802165,10.407309,23.152051,45.499727,1.637029,2.475690,49.252061
std,24.481879,65.784958,6.162567e+06,9.051689,16.292992,9.962995,16.032730,103.131032,7.035737,0.207658,...,17.705659,996.645508,37.954786,25.555830,52.212494,45.715040,137.600267,0.951950,2.440156,35.125698
min,-41.300000,-175.200000,1.715849e+09,-24.800000,-12.600000,2.200000,3.600000,1.000000,971.000000,28.670000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.185000,0.185000,1.000000,1.000000,0.000000
25%,3.750000,-6.250000,1.721048e+09,18.400000,65.100000,4.000000,6.500000,83.000000,1010.000000,29.830000,...,10.800000,217.000000,37.000000,0.800000,0.700000,4.600000,7.585000,1.000000,1.000000,15.000000
50%,17.250000,23.320000,1.726484e+09,25.400000,77.600000,6.900000,11.200000,164.000000,1013.000000,29.910000,...,17.000000,308.950000,59.000000,2.960000,2.035000,11.655000,18.362000,1.000000,1.000000,49.000000
75%,40.400000,50.580000,1.731747e+09,29.000000,84.200000,11.600000,18.700000,259.000000,1017.000000,30.030000,...,25.800000,471.750000,83.700000,13.875000,7.600000,25.900000,41.440000,2.000000,3.000000,83.000000
max,64.150000,179.220000,1.737025e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,1080.000000,31.890000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,5858.020000,6.000000,10.000000,100.000000

In [3]:
# dataset structure
print(f'Dataset info: {data.info()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47552 entries, 0 to 47551
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       47552 non-null  object
 1   location_name                 47552 non-null  object
 2   latitude                      47552 non-null  float64
 3   longitude                     47552 non-null  float64
 4   timezone                      47552 non-null  object
 5   last_updated_epoch            47552 non-null  int64
 6   last_updated                  47552 non-null  object
 7   temperature_celsius           47552 non-null  float64
 8   temperature_fahrenheit        47552 non-null  float64
 9   condition_text                47552 non-null  object
 10  wind_mph                      47552 non-null  float64
 11  wind_kph                      47552 non-null  float64
 12  wind_degree                   47552 non-null  int64
 13  wind_direction                47552 non-null  object
 14  pressure_mb                   47552 non-null  float64
 15  pressure_in                   47552 non-null  float64
 16  precip_mm                     47552 non-null  float64
 17  precip_in                     47552 non-null  float64
 18  humidity                      47552 non-null  int64
 19  cloud                         47552 non-null  int64
 20  feels_like_celsius            47552 non-null  float64
 21  feels_like_fahrenheit         47552 non-null  float64
 22  visibility_km                 47552 non-null  float64
 23  visibility_miles              47552 non-null  float64
 24  uv_index                      47552 non-null  float64
 25  gust_mph                      47552 non-null  float64
 26  gust_kph                      47552 non-null  float64
 27  air_quality_Carbon_Monoxide   47552 non-null  float64
 28  air_quality_Ozone             47552 non-null  float64
 29  air_quality_Nitrogen_dioxide  47552 non-null  float64
 30  air_quality_Sulphur_dioxide   47552 non-null  float64
 31  air_quality_PM2.5             47552 non-null  float64
 32  air_quality_PM10              47552 non-null  float64
 33  air_quality_us-epa-index      47552 non-null  int64
 34  air_quality_gb-defra-index    47552 non-null  int64
 35  sunrise                       47552 non-null  object
 36  sunset                        47552 non-null  object
 37  moonrise                      47552 non-null  object
 38  moonset                       47552 non-null  object
 39  moon_phase                    47552 non-null  object
 40  moon_illumination             47552 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 14.9+ MB
Dataset info: None

In [4]:
# Check the number of numeric and categorical columns count
numeric_columns_count = data.select_dtypes(include='number').shape[1]

# Count categorical columns
categorical_columns_count =data.select_dtypes(include='object').shape[1]

# Display the counts
print(f'Number of numeric colums: {numeric_columns_count}')
print(f'Number of categorical columns: {categorical_columns_count}')

# Check the shape of the datase
print(f'shape of the Dataset is {data.shape}')

Number of numeric colums: 30
Number of categorical columns: 11
shape of the Dataset is (47552, 41)

Profiling

In [5]:
# It is too big to show in the github
# data.profile_report()

# Step 1 Data Cleaning and Preprocessing

In [6]:
# Check for NaN values in the Dataset
missing_value = data.isnull().sum()
print(f'Missing values: {missing_value}')

missing_values = data.isnull().sum().sum()

# Check if there are any missing values and print the result using an f-string
if missing_values > 0:
    print(f"Missing values are present. Total missing values: {missing_values}")
else:
    print("No missing values in the dataset.")

Missing values: country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64
No missing values in the dataset.

In [7]:
# Check the Duplicates
duplicates_count = data.duplicated().sum()

# Check if there are any duplicate rows and print the result using f-strings
if data.duplicated().any():
    print(f"Duplicate entries found. Total duplicate rows: {duplicates_count}")
else:
    print("No duplicate entries in the dataset.")

No duplicate entries in the dataset.

In [8]:
# Standardize Country Names and Displaying Unique values

# Check Unique Country Names
unique_countries = data['country'].unique()
numOfUniqueCountries = data['country'].nunique()
print(f'Number of Uniquer countries', numOfUniqueCountries)
print(unique_countries)

Number of Uniquer countries 210
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Madagascar' 'Cape Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Comoros' 'Congo'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Swaziland' 'Ethiopia' 'Fiji Islands' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Vatican City'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrghyzstan' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Thailand' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Turkey' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'Macedonia'
 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles Islands' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Korea' 'Sudan' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Timor-Leste' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Colombia'
 'USA United States of America' "Lao People's Democratic Republic" 'Libya'
 'Kosovo' 'Togo' 'Malásia' 'Komoren' 'كولومبيا' 'Estonie' 'Гватемала'
 'Inde' 'Letonia' 'Польша' 'Mexique' 'Polônia' 'Marrocos' 'Турция'
 'Saint-Vincent-et-les-Grenadines' 'Saudi Arabien' 'Südkorea' 'Bélgica'
 'Turkménistan' '火鸡' 'Jemen']

In [9]:
# Standardize Country Names
# data['country'] = data['country'].apply(lambda x: 'Colombia' if x == 'كولومبيا' else x)
# data['country'] = data['country'].apply(lambda x: 'Turkey' if x == '火鸡' else x)
# data['country'] = data['country'].apply(lambda x: 'Poland' if x == 'Польша' else x)
# data['country'] = data['country'].apply(lambda x: 'Turkey' if x == 'Турция' else x)
# data['country'] = data['country'].apply(lambda x: 'Guatemala' if x == 'Гватемала' else x)
# Updated country mapping

# Strip leading/trailing spaces and capitalize correctly
# Strip leading/trailing spaces and capitalize correctly
data['country'] = data['country'].str.strip().str.title()

country_mapping = {
    'USA United States of America': 'United States of America',
    "Lao People's Democratic Republic": 'Laos',
    'Malásia': 'Malaysia',
    'Komoren': 'Comoros',
    'كولومبيا': 'Colombia',
    'Estonie': 'Estonia',
    'Гватемала': 'Guatemala',
    'Inde': 'India',
    'Letonia': 'Latvia',
    'Польша': 'Poland',
    'Mexique': 'Mexico',
    'Polônia': 'Poland',
    'Marrocos': 'Morocco',
    'Турция': 'Turkey',
    'Saint-Vincent-et-les-Grenadines': 'Saint Vincent and the Grenadines',
    'Saudi Arabien': 'Saudi Arabia',
    'Südkorea': 'South Korea',
    'Bélgica': 'Belgium',
    'Turkménistan': 'Turkmenistan',
    '火鸡': 'Turkey',
    'Jemen': 'Yemen'
}

# Apply the mapping
data['country'] = data['country'].replace(country_mapping)

In [10]:
# Check Unique Country Names
unique_countries = data['country'].unique()
numOfUniqueCountries = data['country'].nunique()
print(f'Number of Uniquer countries', numOfUniqueCountries)
print(unique_countries)

Number of Uniquer countries 192
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua And Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia And Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Madagascar' 'Cape Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Comoros' 'Congo'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic'
 'Democratic Republic Of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Swaziland' 'Ethiopia' 'Fiji Islands' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Vatican City'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrghyzstan' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Thailand' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Turkey' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'Macedonia'
 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Kitts And Nevis' 'Saint Lucia'
 'Saint Vincent And The Grenadines' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles Islands' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Korea' 'Sudan' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Timor-Leste' 'Tonga'
 'Trinidad And Tobago' 'Tunisia' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States Of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Colombia'
 'Usa United States Of America' "Lao People'S Democratic Republic" 'Libya'
 'Kosovo' 'Togo' 'Saint-Vincent-Et-Les-Grenadines']

# Step 2 Exploratory Data Analysis (EDA)